[submodule "external/bp-service-tools"]
	path = external/bp-service-tools
	url = git://github.com/browserplus/bp-service-tools.git
[submodule "external/bakery"]
	path = external/bakery
	url = git://github.com/browserplus/bakery.git
[submodule "external/bpsdk"]
	path = external/bpsdk
	url = git://github.com/browserplus/bp-service-api.git
