[submodule "external/bakery"]
	path = external/bakery
	url = git://github.com/browserplus/bakery.git
[submodule "external/bp-service-framework"]
	path = external/bp-service-framework
	url = git://github.com/browserplus/bp-service-framework.git
[submodule "external/bp-build-templates"]
	path = external/bp-build-templates
	url = git://github.com/browserplus/bp-build-templates.git
[submodule "external/bp-file"]
	path = external/bp-file
	url = git://github.com/browserplus/bp-file
